{{- $query := first 1 (where .Site.Pages "Layout" "==" "archives") -}}
{{- if $query -}}
    {{- $archivesPage := index $query 0 -}}
    <section class="widget archives">
        <h2 class="widget-title section-title">WEEKLY ASSIGNMENTS</h2>

        {{ $pages := where .Site.RegularPages "Type" "in" "post" }}

        <div class="widget-archive--list">
            {{range $pages}}
                <div class="post-title">
                    <a href="{{ .RelPermalink }}">{{ .Params.week }} | {{ .Title -}}</a>
                </div>
            {{ end }}
        </div>
    </section>
{{- else -}}
    {{- warnf "Archives page not found. Create a page with layout: archives." -}}
{{- end -}}
