/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */

b, strong {
   color: #e38c16;
}


.prev-sticky{
    display: flex;
    align-items: center;
    margin: 20px 0;

    @include respond(md) {
        display: none;
    }

    .prev-post {
        background: var(--card-background);
        border-radius: var(--tag-border-radius);
        color: var(--card-text-color-tertiary);
        margin-right: 30px;
        display: inline-flex;
        align-items: center;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 10px 20px 10px 15px;

        transition: box-shadow 0.3s ease;

        box-shadow: var(--shadow-l1);

        &:hover {
            box-shadow: var(--shadow-l2);
        }

        svg {
            margin-right: 5px;
            width: 20px;
            height: 20px;
        }

        span {
            font-weight: 500;
            white-space: nowrap;
        }
    }
    .back-home {
        background: var(--card-background);
        border-radius: var(--tag-border-radius);
        color: var(--card-text-color-tertiary);
        margin-right: 30px;
        display: inline-flex;
        align-items: center;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 10px 20px 10px 15px;

        transition: box-shadow 0.3s ease;

        box-shadow: var(--shadow-l1);

        &:hover {
            box-shadow: var(--shadow-l2);
        }

        svg {
            margin-right: 5px;
            width: 20px;
            height: 20px;
        }

        span {
            font-weight: 500;
            white-space: nowrap;
        }
    }

}


.article-page.has-toc {

    .left-sidebar {
        display: none;
    }

    .right-sidebar {
        width: 100%;
        padding: 0;
        display: none;

        @include respond(xl) {
            display: block;
            top: var(--main-top-padding);
        }
    }

    .prev-sticky {
        display: block;

        @include respond(md) {
            padding: 20px;
        }

        @include respond(xl) {
            margin-top: 0;
            position: sticky;
            top: var(--main-top-padding);
            flex-shrink: 1;

            a {
                background: transparent;
                box-shadow: none;
                border: 1px solid var(--body-text-color);
                width: 100%;
                margin-right: 0;

                svg {
                    flex-shrink: 0;
                }
            }
        }
    }

    .main-container {
        align-items: start;
        flex-direction: column;

        @include respond(xl) {
            flex-direction: row;
        }
    }

    .main {
        padding-top: 0;

        @include respond(xl) {
            padding-top: var(--main-top-padding);
        }
    }
}


.next-sticky{
    display: flex;
    align-items: center;
    margin: 20px 0;

    @include respond(md) {
        display: none;
    }

    .next-post {
        background: var(--card-background);
        border-radius: var(--tag-border-radius);
        color: var(--card-text-color-tertiary);
        margin-right: 30px;
        display: inline-flex;
        align-items: center;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 10px 20px 10px 15px;

        transition: box-shadow 0.3s ease;

        box-shadow: var(--shadow-l1);

        &:hover {
            box-shadow: var(--shadow-l2);
        }

        svg {
            margin-right: 5px;
            width: 20px;
            height: 20px;
        }

        span {
            font-weight: 500;
            white-space: nowrap;
        }
    }
}

.article-page.has-toc {

    .left-sidebar {
        display: none;
    }

    .right-sidebar {
        width: 100%;
        padding: 0;
        display: none;

        @include respond(xl) {
            display: block;
            top: var(--main-top-padding);
        }
    }

    .next-sticky {
        display: block;

        @include respond(md) {
            padding: 20px;
        }

        @include respond(xl) {
            margin-top: 0;
            position: sticky;
            top: var(--main-top-padding);
            flex-shrink: 1;

            a {
                background: transparent;
                box-shadow: none;
                border: 1px solid var(--body-text-color);
                width: 45;
                margin-right: 0;

                svg {
                    flex-shrink: 0;
                }
            }
        }
    }

    .main-container {
        align-items: start;
        flex-direction: column;

        @include respond(xl) {
            flex-direction: row;
        }
    }

    .main {
        padding-top: 0;

        @include respond(xl) {
            padding-top: var(--main-top-padding);
        }
    }
}
