$defaultTagBackgrounds: #a1cf6b,#edb113,#f49463,#be87f5,#95d0df,;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;


[data-scheme="light"] {
    --pre-text-color: #272822;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    color-scheme: dark;
    --pre-text-color: #f9f9f2;
    --pre-background-color: #272822;
    @import "partials/highlight/dark.scss";
}

/*
*   Global style
*/
:root {
    @include respond(md) {
        --main-top-padding: 35px;
    }

    @include respond(xl) {
        --main-top-padding: 60px;
    }

    --body-background: #fffef2;

    --accent-color: #e38c16;
    --accent-color-darker: #56a6e8;
    --accent-color-text: #fff;
    --body-text-color: #e38c16;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsl(0, 0%, 85%);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #303030;
        --accent-color: #e38c16;
        --accent-color-darker: #56a6e8;
        --accent-color-text: #000;
        --body-text-color: rgba(255, 255, 255, 0.7);
        --scrollbar-thumb: #424242;
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #fff;
    --card-background-selected: #eaeaea;
    --card-text-color-title: #e38c16;
    --card-text-color-week: #56a6e8;
    --card-text-color-main: #585858;
    --card-text-color-secondary: #747474;
    --card-text-color-tertiary: #e38c16;
    --card-separator-color: rgba(218, 218, 218, 0.5);

    --card-border-radius: 40px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #424242;
        --card-background-selected: rgba(218, 161, 69, 0.16);
        --card-text-color-main: rgba(255, 255, 255, 0.9);
        --card-text-color-secondary: rgba(255, 255, 255, 0.7);
        --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
        --card-separator-color: rgba(255, 255, 255, 0.12);
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: rgba(241, 246, 247, 1);

    --heading-border-size: 6px;

    --link-background-color: 222, 129, 6;
    --link-background-opacity: 0.8;
    --link-background-opacity-hover: 0.2;

    --pre-background-color: #f1f1f1;
    --pre-text-color: #56a6e8;

    --code-background-color: #f1f1f1;
    --code-text-color: #56a6e8;

    --table-border-color: #dadada;
    --tr-even-background-color: #efefee;

    &[data-scheme="dark"] {
        --code-background-color: #56a6e8;
        --code-text-color: rgba(255, 255, 255, 0.9);

        --table-border-color: #717171;
        --tr-even-background-color: #545454;

        --blockquote-background-color: rgb(75 75 75);
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l0: 0px 0px 15px rgba(0, 0, 0, 0.4);
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}
