{{ define "main" }}
    <h3 class="section-title">
        {{ if eq .Parent (.GetPage "/") }}
            {{ T "list.section" }}
        {{ else }}
            {{ .Parent.Title }}
        {{ end }}
    </h3>

    <div class="section-card">
        <div class="section-details">
            <h3 class="section-count">{{ T "list.page" (len .Pages) }}</h3>
            <h1 class="section-term">{{ .Title }}</h1>
            {{ with .Params.description }}
                <h2 class="section-description">{{ . }}</h2>
            {{ end }}
        </div>

        {{- $image := partialCached "helper/image" (dict "Context" . "Type" "section") .RelPermalink "section" -}}
        {{ if $image.exists }}
            <div class="section-image">
                {{ if $image.resource }}
                    {{- $Permalink := $image.resource.RelPermalink -}}
                    {{- $Width := $image.resource.Width -}}
                    {{- $Height := $image.resource.Height -}}

                    {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                        {{- $thumbnail := $image.resource.Fill "120x120" -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                    {{- end -}}

                    <img src="{{ $Permalink }}"
                        width="{{ $Width }}"
                        height="{{ $Height }}"
                        loading="lazy">
                {{ else }}
                    <img src="{{ $image.permalink }}" loading="lazy" />
                {{ end }}
            </div>
        {{ end }}
    </div>

    {{- $subsections := .Sections -}}
    {{- $pages := .Pages | complement $subsections -}}

    {{- if eq (len $pages) 0 -}}
        {{/* If there are no normal pages, display subsections in list style, with pagination */}}
        {{/* This happens with taxonomies like categories or tags */}}
        {{- $pages = $subsections -}}
        {{- $subsections = slice -}}
    {{- end -}}

    {{- with $subsections -}}
        <h2 class="section-title">{{ T "list.subsection" (len $subsections) }}</h2>
        <div class="subsection-list">
            <div class="article-list--tile">
                {{ range . }}
                    {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "section") }}
                {{ end }}
            </div>
        </div>
    {{- end -}}

    {{/* List only pages that are not a subsection */}}
    {{ $paginator := .Paginate $pages }}
    <section class="article-list--compact">
        {{ range $paginator.Pages }}
            {{ partial "article-list/compact" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}

    {{ partialCached "footer/footer" . }}
{{ end }}


{{ define "right-sidebar" }}
    {{ partialCached "sidebar/right.html" . }}
{{ end }}
