{{ define "body-class" }}
    {{ $TOCEnabled := default (default false .Site.Params.article.toc) .Params.toc }}
    {{- .Scratch.Set "hasTOC" (and (ge (len .TableOfContents) 100) $TOCEnabled) -}}
    article-page {{ if (.Scratch.Get "hasTOC") }}has-toc{{ end }}
{{ end }}

{{ define "container-class" }}
    {{ if (.Scratch.Get "hasTOC") }}
        extended
    {{ else }}
        on-phone--column {{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }}
    {{ end }}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partial "article/components/related-contents" . }}

    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "left-sidebar" }}
    {{ if (.Scratch.Get "hasTOC") }}
        <div class="prev-sticky">
            <a href="{{ .Site.BaseURL | relLangURL }}" class="back-home">
                {{ (resources.Get "icons/home.svg").Content | safeHTML }}
                <span>Home</span>
            </a>
            {{if .PrevInSection}}
                <a href="{{ .PrevInSection.Permalink }}" class="prev-post">
                    {{ (resources.Get "icons/prev.svg").Content | safeHTML }}
                    <span>Previous</span>
                </a>
            {{ end }}
        </div>
    {{ else }}
        {{ partial "sidebar/left.html" . }}
    {{ end }}
{{ end }}

{{ define "right-sidebar" }}
    {{ if (.Scratch.Get "hasTOC") }}
        <aside class="sidebar right-sidebar sticky">
          <div class="next-sticky">
              {{if .NextInSection}}
                  <a href="{{ .NextInSection.Permalink }}" class="next-post">
                      <span>Next</span>
                      {{ (resources.Get "icons/next.svg").Content | safeHTML }}
                  </a>
              {{ end }}
          </div>

          <section class="widget archives">
                <div class="widget-icon">
                    {{ partial "helper/icon" "notes" }}
                </div>
                <h2 class="widget-title section-title">{{ T "article.tableOfContents" }}</h2>

                <div class="widget--toc">
                    {{ .TableOfContents }}
                </div>
            </section>

        </aside>

    {{ end }}
{{ end }}
