<div id="article-toolbar">
    <a href="{{ .Site.BaseURL | relLangURL }}" class="back-home">
        {{ (resources.Get "icons/back.svg").Content | safeHTML }}
        <span>{{ T "article.back" }}</span>
    </a>
</div>
